.carrinho-img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.metodo {
    width: 35%;
}

.compra-card {
    height: 300px;
}

.divisor {
    width: 99%;
    box-shadow: 0 -18px 2px 1px rgba(0, 0, 0, 0.15);
    border-radius: 100%;
}